@model CrudMVC.Models.Fornecedor

@{
    ViewData["Title"] = "NovoFornecedor";
}

<h1>Novo Fornecedor</h1>

<h4>Fornecedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NovoFornecedor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_Rua" class="control-label"></label>
                <input asp-for="Endereco_Rua" class="form-control" />
                <span asp-validation-for="Endereco_Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_Numero" class="control-label"></label>
                <input asp-for="Endereco_Numero" class="form-control" />
                <span asp-validation-for="Endereco_Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_Bairro" class="control-label"></label>
                <input asp-for="Endereco_Bairro" class="form-control" />
                <span asp-validation-for="Endereco_Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_UF" class="control-label"></label>
                <input asp-for="Endereco_UF" class="form-control" />
                <span asp-validation-for="Endereco_UF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br /><a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
