@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
    <br />
    <p>
        Para acessar a página de Clientes clique em "Clientes" na barra de navegação.<br/>
        Para acessar a página de Fornecedores clique em "Fornecedores" na barra de navegação.
    </p>
    <p>
        Acesse meu <a href="https://github.com/Marcola20">GitHub</a> por aqui.<br />
        E meu <a href="https://www.linkedin.com/in/marcosviniciussa/">Linkedin</a> por aqui.
    </p>
</div>
