@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
    <p>Para acessar a página de Clientes clique em "Clientes" na barra de navegação.</p>
</div>
